/*
  KubeVirt UI component styles. Refer to stylelint configuration for details
  on project-specific BEM (Block Element Modifier) format for CSS classes.
*/

@import './components/CancelAcceptButtons/cancel-accept-buttons';
@import './components/Form/dropdown';
@import './components/Form/form-group';
@import './components/Form/list-form-factory';
@import './components/Table/editable-table-actions';
@import './components/Table/editable-table';
@import './components/TemplateSource/template-source';
@import './components/VmConsoles/desktop-viewer-selector';
@import './components/VmDetails/vm-details';
@import './components/VmStatus/vm-status';
@import './components/Wizard/create-vm-wizard';
@import './components/Wizard/wizard';
@import './components/ConfigurationSummary/configuration-summary';
@import './components/Dialog/clone-dialog';

/*
  TODO: these styles should be backported to the corresponding PF-React package
*/
@import './patternfly-tweaks/vnc-console';
@import './patternfly-tweaks/dropdown';
