.kubevirt-cluster-overview__body {
  padding: 1em;
  background-color: gray;
}

.kubevirt-cluster-overview__item {
  margin: 1em;
}

.kubevirt-cluster-overview__item-heading {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.kubevirt-cluster-overview__health-grid {
  margin: 1em;

  /* stylelint-disable plugin/selector-bem-pattern */
  .kubevirt-dashboard__card {
    margin: 0;
  }
  /* stylelint-enable */
}

.kubevirt-cluster-overview__card--top-border {
  border-top: 1px solid #d1d1d1;
}
