.kubevirt-cluster-overview__body {
  padding: 1em;
  background-color: gray;
}

.kubevirt-cluster-overview__item {
  margin: 1em;
}

.kubevirt-cluster-overview__item-heading {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
