.kubevirt-health__body {
  text-align: center;
  max-height: 130px;
}

.kubevirt-health__icon--error {
  font-size: 67.2px;
  color: red;
  line-height: 67.2px;
}

.kubevirt-health__icon--ok {
  font-size: 67.2px;
  color: yellowgreen;
  line-height: 67.2px;
}
