/* stylelint-disable plugin/selector-bem-pattern */
.kubevirt-dashboard__health-grid.pf-l-grid {
  grid-gap: 0;
}

.kubevirt-compliance__body {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
}
