/* stylelint-disable plugin/selector-bem-pattern */
.kubevirt-dashboard__health-grid.pf-l-grid {
  @media only screen and (min-width: 768px) {
    grid-gap: 0;
  }
}

.kubevirt-compliance__body {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
}
