.btn-with-icon {
  text-align: center;
  display: inline-block;
  padding: 10px;
  margin: 50px;
  border: 2px solid #f5f5f5;
  height: 200px;
  width: 200px;
  white-space: pre-line;
}

.btn-with-icon:hover {
  border: 2px solid;
  text-decoration: none;
}

.label-column {
  margin-top: 15px;
}
