.modal .form-dropdown {
  text-align: left;
}

.modal .form-dropdown .caret {
  position: absolute;
  right: 5px;
  top: 5px;
}

.modal .dropdown-menu {
  width: 100%;
  display: none;
}

.modal .open > .dropdown-menu {
  display: block;
}
