.vnc-console .toolbar-pf-action-right { /* TODO: This fix should go to patternfly-react */
  padding-bottom: 12px !important;
  margin-top: -14px !important;
}

.vm-consoles-no-rdp .expand-collapse-pf-link-container {
  float: right;
}
