.kubevirt-status__icon {
  margin-right: 5px;
}

.kubevirt-status__button {
  padding: 0;
  margin: 0;
}

.kubevirt-status__popover {
  cursor: pointer;
}

.kubevirt-status__field {
  margin-bottom: 0;
}

.kubevirt-status__field-description {
  margin-bottom: 2em;
}

.kubevirt-status__field-progress {
  margin-bottom: 2em;
  line-height: 0;
}

.kubevirt-status__field-link {
  margin-top: 0em;
}

.kubevirt-status__field-header {
  font-weight: bold;
  margin-bottom: 1em;
}
