/* stylelint-disable */
.kubevirt-editable-table__row-actions {
  padding: 3px;

  .pf-c-dropdown__menu {
    right: 0px; // ensure kebab items visibility as the kebab is rendered on the right-side of the outer box
  }

  .pf-c-dropdown__toggle::before {
    border: 0px !important;
  }
}

.kubevirt-editable-table__cell {
  min-height: 24px;
}

.kubevirt-editable-table__cell-error {
  margin: 0;
  padding: 0;
}

.kubevirt-editable-table__cell-error--bootable {
  margin-top: 2em;
}
