.kubevirt-form-group .dropdown > .dropdown-menu {
  display: none;
  z-index: 1001;
}

.kubevirt-form-group .dropdown.open > .dropdown-menu {
  display: block;
}

.kubevirt-form-group--no-bottom {
  margin-bottom: 2px;
}

.kubevirt-form-group--help {
  margin-bottom: 0;
}

.kubevirt-form-group--no-help {
  margin-bottom: 23px;
}

.kubevirt-form-group__field--with-addendum {
  width: calc(100% - 2.5em);
  display: inline-block;
}

.kubevirt-form-group__addendum {
  margin-left: 0.5em;
  width: 2em;
}

.kubevirt-form-group__field-help .popover {
  max-width: 400px;
}
