.kubevirt-data-resiliency__title {
  text-align: center;
  margin-bottom: 6em;
}

.kubevirt-data-resiliency__dashboard-body {
  height: 14.9em;
  display: flex;
  flex-direction: column;
  justify-content: center;
  text-align: center;
}

.kubevirt-data-resiliency__utilization-bar {
  text-align: left;
}

.kubevirt-data-resiliency__icon-ok {
  color: yellowgreen;
  position: relative;
  top: -2.5em;
}

.kubevirt-data-resiliency__icon-error {
  color: red;
}

.kubevirt-data-resiliency__status-title-ok {
  margin-bottom: 6.5em;
}

.kubevirt-data-resiliency__status-title-error {
  margin-top: 1.5625em;
}
