.kubevirt-capacity__items {
  display: flex;
  justify-content: space-between;
}

.kubevirt-capacity__item {
  display: inline-block;
  text-align: center;
  flex: 1;
}

.kubevirt-capacity__item-title {
  margin-top: 0;
}

.kubevirt-capacity__item .donut-title-big-pf {
  font-size: 24px;
}
