.kubevirt-capacity__items {
  display: flex;
  justify-content: space-evenly;
  flex-wrap: wrap;
}

.kubevirt-capacity__item {
  display: flex;
  flex-direction: column;
  text-align: center;
  justify-content: space-between;
  flex: 0 1 150px;
}

.kubevirt-capacity__item-title {
  margin-top: 0;
}

.kubevirt-capacity__item-description {
  font-size: 0.6875em;
  max-width: 80%;
  align-self: center;
  margin-bottom: 0;
  line-height: 1.5;
}

.kubevirt-capacity__item .donut-title-big-pf {
  font-size: 24px;
}

/* stylelint-disable plugin/selector-bem-pattern */
.kubevirt-capacity__graph {
  display: flex;
  flex-direction: column;

  svg {
    overflow: visible;
  }
}

.kubevirt-capacity__card {
  height: 100%;
}
/* stylelint-enable */
