.kubevirt-dashboard__body {
  background-color: #ededed;
  padding: 1rem;

  .pf-l-grid {
    grid-gap: 1rem;
  }
}

.kubevirt-dashboard__card {
  margin: 0;
}

.kubevirt-dashboard__card-title {
  font-size: 1rem;
}

.kubevirt-dashboard__card-heading {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.kubevirt-dashboard__heading-icon--info {
  //spacer fix :(
  margin-right: -10px;
}

.kubevirt-dashboard__card--top-border {
  border-top: 1px solid #d1d1d1;
}

.kubevirt-dashboard__icon-sm {
  font-size: 1.125rem;
}
