.kubevirt-dashboard__body {
  padding: 1em;
  background-color: whitesmoke;
}

.kubevirt-dashboard__card {
  margin: 1em;
}

.kubevirt-dashboard__card-heading {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.kubevirt-dashboard__health-grid {
  margin: 1em;

  /* stylelint-disable plugin/selector-bem-pattern */
  .kubevirt-dashboard__card {
    margin: 0;
  }
  /* stylelint-enable */
}

.kubevirt-dashboard__card--top-border {
  border-top: 1px solid #d1d1d1;
}
