.kubevirt-detail__card {
  margin-bottom: 1rem;
}

.kubevirt-detail__item-title {
  float: left;
  clear: left;
  // width: 150px;
  margin-bottom: 5px;
  font-size: 14px;
  text-transform: capitalize;
}

.kubevirt-detail__item-value {
  margin: 0 0 5px 160px;
  font-size: 14px;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}
