.kubevirt-detail__card {
  margin-bottom: 1rem;
}
.kubevirt-detail__list {
  display: flex;
  flex-wrap: wrap;
}
.kubevirt-detail__item-title {
  font-size: 0.875rem;
  text-transform: capitalize;
  flex-basis: 100%;
}

.kubevirt-detail__item-value {
  font-size: 0.875rem;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
  flex-basis: 100%;
  margin-bottom: 8px;
}
