/* stylelint-disable plugin/selector-bem-pattern */
.kubevirt-events__body {
  display: flex;
  flex-direction: column;
  min-height: 150px;
  max-height: 400px;
  margin-top: 15px;

  .co-sysevent__icon-box {
    display: none;
  }

  .co-sysevent-stream__timeline {
    display: none;
  }

  .co-m-pane__body--alt {
    margin: 0;
    padding: 0;
  }

  .co-sysevent-stream {
    padding: 0;
  }

  .co-sysevent {
    margin: 0;
  }

  .co-sysevent__source,
  .co-resource-item__resource-name,
  .co-sysevent__message {
    font-size: 0.875rem;
  }

  .co-sysevent__box {
    border: none;
    border-bottom: solid 1px #ededed;
    padding: 0;
  }

  .co-m-resource-icon {
    font-size: 0.75rem;
    padding: 0 4px;
    min-width: 17px;
    min-height: 17px;
    display: inline-flex;
    justify-content: center;
    line-height: inherit;
  }

  .co-sysevent__subheader > *:not(:first-child) {
    margin-left: 6px;
  }

  .co-sysevent-stream__status-box-empty {
    margin-right: 15px;
  }
}

.kubevirt-events__timestamp i {
  display: none;
}
/* stylelint-enable */

.kubevirt-events__card-body {
  margin: 0 -15px 0 0;
  padding: 0;
  overflow-y: auto;
  overflow-x: hidden;
}

.kubevirt-events__card-header {
  margin-bottom: 0;
}

.kubevirt-events__event-item {
  border-bottom: 1px solid #ededed;
}

.kubevirt-events__timestamp {
  display: inline-block;
}

.kubevirt-events__icon--error {
  color: #c9190b;
  font-size: 1.2rem;
  display: flex;
  align-items: center;
}
