.kubevirt-events__body {
  display: flex;
  flex-direction: column;
  margin: -15px -15px;
  min-height: 150px;
  max-height: 400px;
  overflow-y: auto;
}

.kubevirt-events__event-item {
  border-bottom: 1px solid #ededed;
}

/* stylelint-disable plugin/selector-bem-pattern */
.kubevirt-events__body .co-sysevent__icon-box {
  display: none;
}

.kubevirt-events__body .co-sysevent-stream__timeline {
  display: none;
}

.kubevirt-events__body .co-m-pane__body--alt {
  margin: 0;
  padding: 0;
}

.kubevirt-events__body .co-sysevent-stream {
  padding: 0;
}

.kubevirt-events__body .co-sysevent {
  margin: 0;
}

.kubevirt-events__body .co-sysevent__box {
  border: none;
  border-bottom: solid 1px #ededed;
}

.kubevirt-events__timestamp {
  display: inline-block;
}

.kubevirt-events__timestamp i {
  display: none;
}

.kubevirt-events__icon--error {
  color: red;
  font-size: 21px;
}

/* stylelint-enable */
