.kubevirt-health__item {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
}

/* stylelint-disable plugin/selector-bem-pattern */
.kubevirt-health__body--subsystem {
  display: flex;
  flex-wrap: wrap;
  flex-direction: column;

  .kubevirt-health__item {
    padding-top: 5px;
  }

  .kubevirt-health__separator {
    border-bottom: 1px solid #ededed;
  }
}
/* stylelint-enable */

.kubevirt-health__text {
  font-size: 0.875rem;
  margin-left: 1rem;
}

.kubevirt-health__title {
  padding-left: 0.6rem;
}

.kubevirt-health__subtitle {
  font-size: 0.6rem;
  color: grey;
}

.kubevirt-health__icon {
  font-size: 1.5rem;
}

.kubevirt-health__icon--error {
  color: #c9190b;
}

.kubevirt-health__icon--ok {
  color: #92d400;
}

.kubevirt-health__icon--warning {
  color: #f0ab00;
}
