.kubevirt-health__body {
  display: table;
  flex-wrap: wrap;
  align-items: center;
}

.kubevirt-health__text {
  font-size: 0.875rem;
  margin-left: 1rem;
}

.kubevirt-health__item {
  display: table;
  min-height: 130px;
  margin-top: 1em;
  padding-top: 1em;
  margin-left: 1em;
  margin-bottom: 1em;
}

.kubevirt-health__row {
  border-top: 1px solid #ededed59;
}

.kubevirt-health__message {
  font-size: 0.875rem;
  display: table-cell;
}

.kubevirt-health__title {
  padding-left: 0.6rem;
}

.kubevirt-health__subtitle {
  font-size: 0.6rem;
  color: grey;
}

.kubevirt-health__icon {
  display: table-cell;
  font-size: 1.5rem;
}

.kubevirt-health__icon--error {
  color: #c9190b;
}

.kubevirt-health__icon--ok {
  color: #92d400;
}

.kubevirt-health__icon--warning {
  color: #f0ab00;
}
