.kubevirt-health__body {
  max-height: 100px;
}

.kubevirt-health__icon {
  font-size: 1.333em;
  line-height: 1.333em;
  display: inline-flex;
  align-items: center;
}

.kubevirt-health__icon--ok {
  color: yellowgreen;
}

.kubevirt-health__icon--warning {
  color: goldenrod;
}

.kubevirt-health__icon--error {
  color: red;
}

.kubevirt-health__row-status-item-text {
  margin-left: 1em;
  font-size: 1em;
}
