.kubevirt-inventory__row {
  display: flex;
  border-bottom: 1px solid #ededed;
  font-size: 1rem;
  padding: 1em 0;
  justify-content: space-between;
  align-items: center;
}

.kubevirt-inventory__row-title {
  margin-right: 0.5em;
}

.kubevirt-inventory__row-status {
  display: flex;
  align-items: center;
  flex-wrap: wrap;

  :last-child {
    margin-right: 0;
  }
}

.kubevirt-inventory__row-status-item {
  display: flex;
  align-items: center;
  margin-right: 0.5em;
  flex-shrink: 0;
}

.kubevirt-inventory__row-status-item-text {
  margin-left: 0.25em;
}

.kubevirt-inventory__row-status-item-icon--ok {
  color: #92d400;
}

.kubevirt-inventory__row-status-item-icon--error {
  color: #c9190b;
}

.kubevirt-inventory__row-status-item-icon--warn {
  color: #f0ab00;
}
