.kubevirt-utilization__item {
  border-bottom: 1px solid #d1d1d1;
  font-size: 1.333em; // aligned with the Inventory card

  .row {
    display: flex;
    align-items: center;
  }
}

.kubevirt-utilization__item-narrow {
  border-bottom: 1px solid #d1d1d1;
  font-size: 1.333em; // aligned with the Inventory card

  .row {
    margin-right: 0.25em;
  }

  .row:first-of-type {
    margin-bottom: 0.5em;
    margin-top: 1em;
  }
}

.kubevirt-utilization__item-actual {
  text-align: right;

  /* stylelint-disable plugin/selector-bem-pattern */
  &.item-actual--narrow {
    font-size: 0.9em;
  }
  /* stylelint-enable */
}

.kubevirt-utilization__item-narrow-chart {
  text-align: center;
}

.kubevirt-utilization__item-chart {
  border-left-width: 1px;
  border-left-style: solid;
  border-left-color: rgb(209, 209, 209);
}

.kubevirt-utilization__item-narrow-title {
  font-size: 0.9em;
}
