.kubevirt-create-vm-wizard__button-create-network {
  margin-right: 1em;
}

.kubevirt-create-vm-wizard__button-create-disk {
  margin-right: 1em;
}

.kubevirt-create-vm-wizard__pxe-form {
  margin-top: 2em;
}

.kubevirt-create-vm-wizard__result-success {
  text-align: left;
}

.kubevirt-create-vm-wizard__custom-cloud-script-textarea {
  min-height: 100px;
}

.kubevirt-create-vm-wizard__import-vmware-passwordcheck {
  display: inline-flex;
  width: 100%;
}
