.kubevirt-create-vm-wizard__button-create-network {
  margin-right: 1em;
}

.kubevirt-create-vm-wizard__button-create-disk {
  margin-right: 1em;
}

.kubevirt-create-vm-wizard__pxe-form {
  margin-top: 2em;
}

.kubevirt-create-vm-wizard__result-success {
  text-align: left;
}
