.kubevirt-create-vm-wizard__button-create-network {
  margin-right: 1em;
}

.kubevirt-create-vm-wizard__button-create-disk {
  margin-right: 1em;
}

.kubevirt-create-vm-wizard__pxe-form {
  margin-top: 2em;
}

.kubevirt-create-vm-wizard__result-success {
  text-align: left;
}

.kubevirt-create-vm-wizard__custom-cloud-script-textarea {
  min-height: 100px;
}

.kubevirt-create-vm-wizard__import-vmware-passwordcheck-button-section {
  margin-top: 10px; /* More compact, higher-level sections are 15px */
  display: inline-flex;
  width: 100%;
}

.kubevirt-create-vm-wizard__import-vmware-passwordcheck-button {
  height: 29px; // hack to keep the button to standard height
}

.kubevirt-create-vm-wizard__import-vmware-connection-status {
  display: inline-flex; // for the spinner
  margin-left: 5px;

  .alert {
    margin-bottom: 0;
  }

  .spinner {
    margin-left: 0.5em;
  }
}
